body {
  background-color: #206fbd;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.addbtn {
  margin: 5px;
  background-color: white;
  border: solid black 1px;
  color: #206fbd;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 20px;
}

.addbtn:hover {
  margin: 5px;
  background-color: #206fbd;
  border: solid black 1px;
  border: solid white 1px;
  color: white;
  cursor: pointer;
}
#add_employees {
  display: none;
  flex-direction: column;
}

.add_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  margin: 5px;
  background-color: white;
  border: solid black 1px;
  color: #206fbd;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 20px;
}

.closeBtn:hover {
  margin: 5px;
  background-color: red;
  border: solid black 1px;
  border: solid white 1px;
  color: white;
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
}
.employ_input {
  margin-bottom: 10px;
}

.show_employees {
  display: flex;
  justify-content: center;
  /* flex-direction: column-reverse; */
  flex-wrap: wrap;
}

.addEmpBtn {
  margin: 5px;
  background-color: white;
  border: solid white 1px;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 16px;
}

.addEmpBtn:hover {
  margin: 5px;
  background-color: green;
  border: solid black 1px;
  border: solid white 1px;
  color: white;
  cursor: pointer;
}
.employees_container {
  background-image: url("./assets/ICON_Corner.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: solid black 2px;
  width: 350px;
}

.p-bold {
  font-weight: bold;
}

.fullname {
  flex-direction: row;
}
